In [1]:
expenses_sam=[30,40,50]
expenses_tom=[40,50,60]

In [2]:
total_expenses_sam=0

for expense in expenses_sam:
    total_expenses_sam+=expense
print(total_expenses_sam)

120

In [4]:
total_expenses_tom=0

for expense in expenses_tom:
    total_expenses_tom+=expense
    
print(total_expenses_tom)

150

In [ ]:
def find_total_expenses(expenses):
    total=0
    for expense in expenses:
        total+=expense
    return total

# Functions in Python
# A function is a reusable block of code that performs a specific task
# It helps avoid code repetition and makes code more organized

# Example 1: Simple function with no parameters
def greet():
    print("Hello! Welcome to Python functions")

greet()  # Calling the function

# Example 2: Function with parameters
def greet_person(name):
    print(f"Hello {name}!")

greet_person("Sam")  # Output: Hello Sam!

# Example 3: Function with return value
def square(number):
    return number * number

result = square(5)  # result = 25

# Example 4: Function with multiple parameters
def add_numbers(a, b):
    return a + b

sum_result = add_numbers(10, 20)  # sum_result = 30

# Example 5: Function with default parameters
def power(base, exponent=2):  # exponent defaults to 2 if not provided
    return base ** exponent

print(power(3))     # Output: 9 (3^2)
print(power(3, 3))  # Output: 27 (3^3)

# Like our find_total_expenses() function above,
# functions help us avoid repeating code and make our program more efficient

In [7]:
total_expenses_sam=find_total_expenses(expenses_sam)
total_expenses_tom=find_total_expenses(expenses_tom)

print(total_expenses_sam)
print(total_expenses_tom)

120
150

In [13]:
def vol_of_circle(radius,height=7):
    return 3.14*radius**2*height

vol=vol_of_circle(5,2)
print(vol)

157.0

In [14]:
def sum_all(*args):
    total=0
    
    for num in args:
        total+=num
    return total

total=sum_all(1,2,3,4,5)
print(total)

15

In [19]:
def company_info(**kwargs):
    for key in kwargs:
        print(key,kwargs[key])


company_info(ticker='AAPL',price=150,location='California')


def find_square(a):
    return a*a



x=lambda a,b: a+b
        
print(x(5,3))

ticker AAPL
price 150
location California
8

In [20]:
expenses_sam=[30,40,50]

total_expenses=sum(expenses_sam)

print(total_expenses)

120

In [21]:
import math

In [24]:
math.sqrt(16)

def of():
    pass

In [25]:
#tuples are indexed
#tuples are iterable
#tuples are heterogeneous
#tuples are immutable
#tuples are ordered
#tuples are indexed

In [27]:
point=(5,6)
point[0]

5

In [33]:
type(point)

tuple

In [34]:
point_3d=(5,8,10)

In [35]:
def find_pe_and_pb(price,eps,book_value):
    pe=price/eps
    pb=price/book_value
    return pe,pb

pe,pb=find_pe_and_pb(100,10,50)
print(pe,pb)

10.0 2.0

In [36]:
#dictonaries are indexed    
#dictonaries are iterable
#dictonaries are heterogeneous
#dictonaries are mutable
#dictonaries are ordered
#dictonaries are indexed

In [37]:
contacts=[('rachel','1234567890'),('monica','9876543210'),('chandler','1234567890')]

In [38]:
for contact in contacts:
    if contact[0]=='rachel':
        print(contact[1])

1234567890

In [41]:
d={
    'rachel':1234567890,
    'monica':9876543210,
    'chandler':1234567890
}

d['rachel']

d['joey']=1234567899
d

{'rachel': 1234567890,
 'monica': 9876543210,
 'chandler': 1234567890,
 'joey': 1234567899}

In [44]:
contact={
    'rachel':{'phone':1234567890,'email':'rachel@gmail.com'},
    'monica':{'phone':9876543210,'email':'monica@gmail.com'},
    'chandler':{'phone':1234567890,'email':'chandler@gmail.com'}
}

contact['rachel']

{'phone': 1234567890, 'email': 'rachel@gmail.com'}

In [46]:
d.keys()
d.values()
d.items()

dict_items([('rachel', 1234567890), ('monica', 9876543210), ('chandler', 1234567890), ('joey', 1234567899)])

In [48]:
for name,number in d.items()
    print(name)

rachel
monica
chandler
joey

In [55]:
import math
import calendar

In [61]:
import numpy as np

In [64]:
q1=np.array([[1,23,4,5,6,7,8,9,10],[123,1423]])
print(q1)

[list([1, 23, 4, 5, 6, 7, 8, 9, 10]) list([123, 1423])]

C:\Users\nande\AppData\Local\Temp\ipykernel_21408\935031180.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  q1=np.array([[1,23,4,5,6,7,8,9,10],[123,1423]])

In [65]:
# Create regular Python list and NumPy array for comparison
regular_list = [1, 2, 3, 4, 5]
numpy_array = np.array([1, 2, 3, 4, 5])

# 1. Mathematical operations
print("Mathematical operations:")
print("List multiplied by 2:", [x*2 for x in regular_list])  # Requires explicit loop
print("NumPy array multiplied by 2:", numpy_array * 2)  # Element-wise operation

# 2. Memory efficiency and homogeneous data
print("\nMemory and data type:")
print("List can contain different types:", [1, "string", 3.14])  # Lists can be heterogeneous
print("NumPy array type:", numpy_array.dtype)  # NumPy arrays are homogeneous

# 3. Multi-dimensional operations
list_2d = [[1, 2, 3], [4, 5, 6]]
numpy_2d = np.array([[1, 2, 3], [4, 5, 6]])
print("\nMulti-dimensional operations:")
print("2D NumPy array shape:", numpy_2d.shape)
print("2D NumPy array dimension:", numpy_2d.ndim)

# 4. Performance with large datasets
import time

# Create large dataset
size = 1000000
list_large = list(range(size))
array_large = np.array(list_large)

# Compare operation speed
start = time.time()
[x + 1 for x in list_large]
print("\nTime for list operation:", time.time() - start)

start = time.time()
array_large + 1
print("Time for NumPy operation:", time.time() - start)

Mathematical operations:
List multiplied by 2: [2, 4, 6, 8, 10]
NumPy array multiplied by 2: [ 2  4  6  8 10]

Memory and data type:
List can contain different types: [1, 'string', 3.14]
NumPy array type: int32

Multi-dimensional operations:
2D NumPy array shape: (2, 3)
2D NumPy array dimension: 2

Time for list operation: 0.10133910179138184
Time for NumPy operation: 0.002986907958984375

In [70]:
with open('funny.txt','r') as f:
    for line in f:
        print(line)

safklksanf

safjkasbjfbas

dsajbfjasbf

asfnasjkfbjkasf

s fhjasf



s'nasjbf

In [71]:
with open("funny.txt","r") as f:
    lines=f.readlines()
    for line in lines:
        print(line)

safklksanf

safjkasbjfbas

dsajbfjasbf

asfnasjkfbjkasf

s fhjasf



s'nasjbf

In [74]:
with open("love.txt","w") as f:
    f.write("i love you \n")
    f.write("i love you too")

In [78]:
with open("love1.txt","a") as f:
    f.write("i love you too")
    f.writelines(["i love","eiief"])

In [80]:
with open("match.csv","w") as f:
    f.write("name,match_id,runs \n")
    f.write("dhoni,1,100 \n")
    f.write("kohli,2,150 \n")
    f.write("rohit,3,120 \n")
    f.write("pandya,4,130 \n")
    f.write("bumrah,5,140 \n")
    f.write("ashwin,6,110 \n")
    f.write("chahal,7,120 \n")

In [85]:
d={
    'rohit':[9,120,240],
    'dhoni':[1,100,100],
    'kohli':[2,150,150],
    'bumrah':[3,140,140],
    'ashwin':[4,110,110],
    'chahal':[5,120,120]
}

In [86]:
d['rohit']

[9, 120, 240]

In [97]:
player_scores={}

with open("match.csv","r") as f:
    lines=f.readlines()
    for line in lines:
        player,match_id,score=line.split(',')

        if player in player_scores:
            player_scores[player].append(score)
        else:
            player_scores[player]=[score]

In [98]:
d

{'rohit': [9, 120, 240],
 'dhoni': [1, 100, 100],
 'kohli': [2, 150, 150],
 'bumrah': [3, 140, 140],
 'ashwin': [4, 110, 110],
 'chahal': [5, 120, 120]}

In [100]:
for player,scores in player_scores.items():
    min_score=min(scores)
    max_score=max(scores)
    print(f"{player} has scored {min_score} and {max_score} in his career \n")

name has scored runs
 and runs
 in his career

dhoni has scored 100
 and 100
 in his career

kohli has scored 150
 and 150
 in his career

rohit has scored 120
 and 120
 in his career

pandya has scored 130
 and 130
 in his career

bumrah has scored 140
 and 140
 in his career

ashwin has scored 110
 and 110
 in his career

chahal has scored 120
 and 120
 in his career

In [105]:
with open("dummy.txt","w") as f:
    f.write("hello world \n")
import os
if os.path.exists("dummy.txt"):
   os.remove("dummy.txt") 
else:
    print("file does not exist")

In [106]:
d.items()

dict_items([('rohit', [9, 120, 240]), ('dhoni', [1, 100, 100]), ('kohli', [2, 150, 150]), ('bumrah', [3, 140, 140]), ('ashwin', [4, 110, 110]), ('chahal', [5, 120, 120])])