## Set

In [30]:
myset=set([1,2,3,2,3,4])
#sets are mutable list are mutable
#sets are unordered list are ordered
#sets are unindexed list are indexed
#sets allow unique elements list allow duplicates

In [31]:
myset

{1, 2, 3, 4}

In [32]:
list(myset)

[1, 2, 3, 4]

In [33]:
myset={1,2,3,4,5,,5,5,6}

#another way of intialising set for list it was list=[] for set its set={} another way is set([1,2,3,4,5,6,7,8,9,10])

SyntaxError: invalid syntax (3489139720.py, line 1)

In [34]:
myset

#onyl unique elemnts alowed

{1, 2, 3, 4}

In [35]:
menu=set(["pizza","burger","hotdog","pizza","burger"])

In [36]:
menu.add("noodles")
menu.remove("pizza")


menu

{'burger', 'hotdog', 'noodles'}

In [37]:
menu=frozenset(["pizza","burger","hotdog","pizza","burger"])
menu.add("noodles")

#cannot change elements of frozen set

AttributeError: 'frozenset' object has no attribute 'add'

In [38]:
"dosa" in menu

False

In [39]:
transactions=[
    {"customer":"John","item":"burger","amount":15},
    {"customer":"Jane","item":"burger","amount":15},
    {"customer":"John","item":"burger","amount":15},
    {"customer":"Jane","item":"burger","amount":15},
    {"customer":"John","item":"burger","amount":15},
    {"customer":"Jane","item":"burger","amount":15},
    
]


#initialize dictonary

In [40]:
customers=set()
for trans in transactions:
    customers.add(trans['customer'])
    
# adding all dictonary elements though duplciae into merging single set which does not allow duplicates

In [41]:
customers

{'Jane', 'John'}

In [42]:
customers_list=list(customers)
#converting set to list

In [43]:
customers_list

['Jane', 'John']

In [44]:
a={"mira","nandini","mohan","lucky"}
b={"mohan","lucky","nandini","sameer",'saniya'}

print(f"a union b is {a.union(b)} also written as {a|b}")
print(f"a intersection b is {a.intersection(b)} also written as {a&b}")
print(f"a - b is {a.difference(b)} also written as {a-b}")

a union b is {'mira', 'sameer', 'nandini', 'lucky', 'saniya', 'mohan'} also written as {'mira', 'sameer', 'nandini', 'lucky', 'saniya', 'mohan'}
a intersection b is {'mohan', 'lucky', 'nandini'} also written as {'mohan', 'lucky', 'nandini'}
a - b is {'mira'} also written as {'mira'}

### list and dict comprehension

In [47]:
numbers=[1,2,3,4,5,6,7,8,9,10]
sq_number=[]

for num in numbers:
    sq_number.append(num*num)
    
print(sq_number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
sq_numbers=[n*n for n in numbers]

#compact way
# performaance is better

In [49]:
print(sq_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
import time

long_list=range(100000000)

sqr_list=[]


start=time.time()
for n in long_list:
    sqr_list.append(n*n)
    
end=time.time()

print(f"time taken for list this loop is {end-start}")

time taken for list this loop is 22.127432823181152

In [56]:
start=time.time()
sqr_list=[n*n for n in long_list]
end=time.time()

print(f"the time taken for list comprehension is {end-start}")

the time taken for list comprehension is 13.631354093551636

In [60]:
price=[100,120,130,140,150,160,170,180,190,200]
eps=[1,2,3,4,5,6,7,8,9,10]

In [66]:
pe_ratio=[p/e if e!=0 else -1 for p,e in zip(price,eps)]

print(pe_ratio)

[100.0, 60.0, 43.333333333333336, 35.0, 30.0, 26.666666666666668, 24.285714285714285, 22.5, 21.11111111111111, 20.0]

In [63]:
tuple(zip(price,eps))

((100, 1),
 (120, 2),
 (130, 3),
 (140, 4),
 (150, 5),
 (160, 6),
 (170, 7),
 (180, 8),
 (190, 9),
 (200, 10))

In [64]:
#what is tuple nad how its diff from list
#tuple is immutable list is mutable
#tuple is ordered list is unordered
#tuple is indexed list is unindexed
#tuple allows duplicates list allows duplicates
#tuple is faster than list
#tuple is more memory efficient than list

In [77]:
words=["apple","banana","cherry","date","elderberry","fig","grape","honeydew","kiwi","lemon"]

lengths=[len(word) for word in words]

In [78]:
print(lengths)

[5, 6, 6, 4, 10, 3, 5, 8, 4, 5]

In [79]:
lengths_1=[]

for word in words:
    lengths_1.append(len(word))

print(lengths_1)

[5, 6, 6, 4, 10, 3, 5, 8, 4, 5]

In [87]:
prices=[120,99,150,50,100]

#if price is >10 give 10pc discount

discounted_prices=[p-p*0.1 if p>100 else p for p in prices]
discount=[0.1 if p>100 else 0 for p in prices]

print(discount)
after_discount=[p-p*d for p,d in zip(prices,discount)]
print(discounted_prices)

print(after_discount)

[0.1, 0, 0.1, 0, 0]
[108.0, 99, 135.0, 50, 100]
[108.0, 99, 135.0, 50, 100]

In [88]:
# all this is called which technique?
# list comprehension

# what is list comprehension?
# list comprehension is a way to create a new list by iterating over an existing list and applying a condition to each element.

#now lets see dictonary comprehension

In [89]:
names=["nandini","mohan","lucky","mira","saniya","sameer"]

ages=[25,26,27,28,29,30]

name_age_dict={names[i]:ages[i] for i in range(len(names))}

print(name_age_dict)

{'nandini': 25, 'mohan': 26, 'lucky': 27, 'mira': 28, 'saniya': 29, 'sameer': 30}

In [90]:
new_name_age_dict={}
for name,age in zip(names,ages):
    new_name_age_dict[name]=age
    
print(new_name_age_dict)

{'nandini': 25, 'mohan': 26, 'lucky': 27, 'mira': 28, 'saniya': 29, 'sameer': 30}

In [ ]:
#these are two diff ways to create dictonary 
#1. using for loop and zip function
#2. using dict comprehension

In [91]:
transactions

[{'customer': 'John', 'item': 'burger', 'amount': 15},
 {'customer': 'Jane', 'item': 'burger', 'amount': 15},
 {'customer': 'John', 'item': 'burger', 'amount': 15},
 {'customer': 'Jane', 'item': 'burger', 'amount': 15},
 {'customer': 'John', 'item': 'burger', 'amount': 15},
 {'customer': 'Jane', 'item': 'burger', 'amount': 15}]

In [94]:
customers=set()
for trans in transactions:
    customers.add(trans['customer'])
    
customers
    
# adding all dictonary elements though duplciae into merging single set which does not allow duplicates

{'Jane', 'John'}

In [95]:
#lets try using set comprehension
customers_set=[ trans['customer'] for trans in transactions]
customers

{'Jane', 'John'}

In [98]:
set=range(5)

In [101]:
print(set)

range(0, 5)
0
1
2
3
4

In [106]:
s={1,2,3,4,5}
s.add(6)
# s.insert(2,6) # does not work for set as it is unordered
# s.append(6) # does not work for set as it is unordered but why?
# because set is unordered and append is used for list which is ordered
s

{1, 2, 3, 4, 5, 6}

In [115]:
list=[1,2,3,4,5]

list.append(6)
# list.add(6) does not work for list
list.insert(2,6) # adding element at index 2

In [116]:
list

[1, 2, 6, 3, 4, 5]

In [ ]:
# PEP 8 Conventions:
# 1. Indentation: Use 4 spaces per indentation level (not tabs)
def good_indentation():
    first_level = True
    if first_level:
        second_level = True

# 2. Maximum Line Length: Limit lines to 79 characters
very_long_string = (
    "This is a very long string that would exceed "
    "79 characters if written on one line"
)

# 3. Imports: Should be on separate lines and grouped
# Standard library imports first
import os
import sys
# Third party imports second
# import numpy as np
# Local application imports last
# from mypackage import mymodule

# 4. Whitespace: Avoid extraneous whitespace
spam(ham[1], {eggs: 2})  # Good
spam( ham[ 1 ], { eggs: 2 } )  # Bad

# 5. Naming Conventions:
# - Function names should be lowercase with underscores
def calculate_average():
    pass

# - Class names should use CapWords
class CustomerRecord:
    pass

# - Constants are usually uppercase
MAX_VALUE = 100

# 6. String Quotes: Use single quotes for string literals unless string contains a single quote
name = 'John'
quote = "Don't forget to code well"

# 7. Comments: Should be complete sentences and start with # followed by a space
# This is a good comment
#This is not a good comment

# 8. Method Definitions: Use self for first argument to instance methods
class Example:
    def instance_method(self, arg1):
        pass

# These conventions help make Python code more readable and maintainable