<h2 align="center" style="color:blue">Codebasics Python Course: Exercise - List, If Condition, For Loop</h2>

### Task 1

1. You are a Marvel fan and created a list of superheroes.

```py
avengers  = [‘Iron Man’, ‘Captain America’, ‘Black Widow’, ‘Hulk’, ‘Thor’, ‘Hawkeye’]
```

Using this list, calculate how many members in the Avengers team?

In [15]:
avengers  = ['Iron Man', 'Captain America', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye']

In [5]:
# write your code here to print total number of members in avengers team

total_no_of_avengers=len(avengers)
print(total_no_of_avengers)

6

### Task 2

Awesome. Now Iron Man made Spider-Man a new member of the Avengers, add him to your list at the end

In [9]:
avengers

['Iron Man',
 'Captain America',
 'Black Widow',
 'Hulk',
 'Thor',
 'Hawkeye',
 'spiderman']

### Task 3

Looks like you are loving this avengers exercise already😄, Let's add a twist to it. Everyone came to a conclusion that Captain America is the leader of the Avengers, so please add him before the Iron Man. Hint: You can first remove him from the list and add before the Iron Man. To remove him you can use a method called .pop()

💡 Feel free to take help of ChatGPT just in case you are confused about pop() method. Remember becoming a good Python programmer is all about how well you can learn new things on your own

In [17]:
# write your code here
avengers.insert(1,"Iron Man")
avengers

['Captain America', 'Iron Man', 'Black Widow', 'Hulk', 'Thor', 'Hawkeye']

### Task 4

Thor and Hulk are getting angry easily and fight with each other. So you have to separate them with each other. To separate them, move “Black Widow” in between them.

In [20]:
# write your code here
avengers.insert(3,"Black Widow")
avengers

['Captain America', 'Iron Man', 'Hulk', 'Black Widow', 'Thor', 'Hawkeye']

### Task 5

Below list contains scores of students in a class as per their roll number. Which means the first element is for roll # 1, second one is for roll # 2 and so on. Print the scores of,

1. The first student
1. The last student
1. First 3 students
1. Scores of roll # 3, 4 and 5

In [35]:
scores = [92, 85, 76, 58, 89, 91, 73, 84]

In [26]:
# score of the first student
scores.sort()
first_student_score=scores[len(scores)-1]
last_student_score=scores[0]

print(f"the score of first student is {first_student_score}")

the score of first student is 92
the score of last student is 58

In [27]:
# score of the last student
print(f"the score of last student is {last_student_score}")

the score of last student is 58

In [31]:
scores.reverse()
scores

[92, 91, 89, 85, 84, 76, 73, 58]

In [34]:
# scores of the first 3 students
first_3_score=scores[:3]
first_3_score

[92, 91, 89]

In [37]:
# scores of roll # 3, 4 and 5
for i in range(len(scores)):
    if(i>=3 and i<=5):
        print(f"the score of roll no {i} is {scores[i]}")

the score of roll no 3 is 58
the score of roll no 4 is 89
the score of roll no 5 is 91

### Task 6

We got a result of one more student which is 83 marks. Append this to the ```scores``` at the end and print the list

In [38]:
# write your code here
scores.append(83)
scores

[92, 85, 76, 58, 89, 91, 73, 84, 83]

### Task 7

Categorizes each score into a grade based on the following thresholds:

1. A: 90 to 100
1. B: 80 to 89
1. C: 70 to 79
1. D: 60 to 69
1. F: Below 60

Count the number of students in each grade category and print the summary of how many students received each grade. 

Expected output

```
Grade Summary:
- A: 2 students
- B: 4 students
- C: 2 students
- D: 0 students
- F: 1 students
```

In [41]:
# write your code here
count_a=0
count_b=0
count_c=0
count_d=0
count_f=0

for score in scores:
    if(score>=90 and score<100):
        count_a+=1
    elif(score>=80 and score<=89):
        count_b+=1
    elif(score>=70 and score<79):
        count_c+=1
    elif(score>=60 and score<69):
        count_d+=1
    else:
        count_f+=1
        
print(f"the count of A:{count_a}")
print(f"the count of B:{count_b}")
print(f"the count of C:{count_c}")
print(f"the count of D:{count_d}")
print(f"the count of F:{count_f}")

the count of A:2
the count of B:4
the count of C:2
the count of D:0
the count of F:1

### Task 8

Managing inventory efficiently is crucial for businesses to ensure they do not run out of key products. This exercise simulates a simple inventory management system where the user can see which items are below the minimum stock level and need reordering. Below you have two lists that stores product names and their inventory stock levels.Using that,

1. Check each item to see if its stock level is below a minimum threshold.
1. If the stock level is below the minimum, add the product's name to a reorder list.
1. Print a list of products that need to be reordered.

Expected Output
```
Items to Reorder:
- Pears
- Grapes
```

In [43]:
# Lists to store product names and stock levels
product_names = ["Apples", "Bananas", "Oranges", "Pears", "Grapes"]
stock_levels = [20, 50, 15, 5, 8]

minimum_stock = 10  # Minimum stock before reordering

In [46]:
# write your code here
items_to_reorder=[]
for product_name,stock_level in zip(product_names,stock_levels):
    if(stock_level<minimum_stock):
        items_to_reorder.append(product_name)


items_to_reorder

['Pears', 'Grapes']

In [52]:
print(f"Items to Reorder:\n- {items_to_reorder[0]}\n- {items_to_reorder[1]}")

Items to Reorder:
- Pears
- Grapes